{% extends "agent_account/base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Set Up NYT Broker Account: Step 1 of 2" %}{% endblock %}

{% block body %}
    <form method="POST" action="{% url "account_brokers_add" id=broker_id %}">
        <legend>{% trans "Set Up NYT Broker Account: Step 1 of 2" %}</legend>
        {% csrf_token %}
        {{ form|as_bootstrap }}
        <div class="form-actions">
            <button class="btn btn-primary" type="submit">{% trans "Continue" %}</button>
        </div>
    </form>
{% endblock %}