{% extends "agent_account/base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Billing" %}{% endblock %}

{% block body %}
    <form method="POST" action="{% url "account_billing" %}">
        <legend>{% trans "Billing" %}</legend>
        {% csrf_token %}
        {{ form|as_bootstrap }}
        <div class="form-actions">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </form>
{% endblock %}